* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: 'Saira', Arial, Helvetica, sans-serif;
}


h1 {
    margin:30px 0px;
    color: #313131;
    font-size: 42px;
    font-weight: 900;
    text-align: center;

}

h1 span{
    font-weight: 300;
}

/* 
@media(min-width: 768px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        justify-items: stretch;
        align-items: stretch;
        width: 100%;
    }
    
    .right-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        justify-items: stretch;
        align-items: stretch;
     }
    .row-Avengers, .row-Oktoberfest, .row-RockimPark, .row-PCIM {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        justify-items: stretch;
        align-items: stretch;
}
  */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
 }

 .left-container {
    display: inline;
 }

 .right-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
 }

 .row-Avengers, .row-Oktoberfest, .row-RockimPark, .row-PCIM {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
 }

.image{
    margin: 5%;
    zoom: 200%;

}

.description {
    padding: 5%;
    background-color: #FFF;
    padding: 5%;
    margin: 5%;
}
li{
    font-size: 18px;
    padding: 1px;
}

#title {
    font-weight: bold;
}

#description{
    font-size: 15px;
    padding-top: 1em;
    padding-bottom: 1em;
}

#venue{
    font-size: 15px;

}

#Avengers-Endgame{

    max-width: 500px;
    max-height: 500px;
}

#Oktoberfest{
    max-width: 500px;
    max-height: 500px;
}

#RockimPark{
    max-width: 500px;
    max-height: 500px;
}

#PCIM-EUROPE{
    max-width: 500px;
    max-height: 500px;

}

.responsive{
    width: 100%;
    height: auto;
    
}
 
 .date-picker {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 820px;
    height: 60px;
    background-color: #FFF;
    margin: 5%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

    cursor: pointer;
    user-select: none;
}

.date-picker:hover {
    background-color: #f3f3f3;
}

.date-picker .selected-date{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color:#313131;
    font-size: 28px;
}

.date-picker .dates{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 5%;


    background-color: #fff;
}

.date-picker .dates.active {
    display: block;
    padding: 5%;
}

.date-picker .dates .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #EEE;
    padding-bottom: 5%;
}

.date-picker .dates .month arrows {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
    background-color: #f3f3f3;
}

.date-picker .dates .month .arrows:active {
    background-color: #00ca85;
    }

.date-picker .dates .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 200px;

}
.date-picker .dates .days .day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;

}

.date-picker .dates .days .day.selected {
    background-color: #00ca85;
}